<div ng-controller='contact'>
	<section>
		<div class="jumbotron jumbotron-contact">
			<div class="container">
				<h1>Contact</h1>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p>Nancy Jana Kent<br />
					<a href='tel:7737582111'>(773) 758-2111</a><br />
					<a href='mailto:janakent@sbcglobal.net'> janakent@sbcglobal.net</a></p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="fb-follow text-center" data-href="http://www.facebook.com/JanaWarePottery" data-layout="standard" data-show-faces="true"></div>
					<p><a href="http://clayspace.net">Member of ClaySpace Ceramic Studio</a><br />
					<a href='https://www.instagram.com/janaware/'>JanaWare is now on Instagram!</p>
				</div>
			</div>
		</div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</section>
</div>
